{% extends "_layout.twig" %}

{% block layout_content %}
    <h1>Добавление картины</h1>
    <hr>

    {% if message %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="POST" class="row g-3" enctype="multipart/form-data">
        <div class="col-md-4">
            <label for="title" class="form-label">Название</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="col-md-4">
            <label for="description" class="form-label">Краткое описание</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="col-md-4">
            <label for="period" class="form-label">Тип</label>
            <select class="form-select" id="period" name="period">
                <option value="Ранний период">Ранний период</option>
                <option value="Поздний период">Поздний период</option>
            </select>
        </div>
        <div class="col-12">
            <label for="image" class="form-label">Изображение</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <div class="col-12">
            <label for="info" class="form-label">Полное описание</label>
            <textarea class="form-control" id="info" name="info" placeholder="Полное описание..." rows="5"></textarea>
        </div>

        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
{% endblock %}